---
import { getCollection } from 'astro:content'

const blogEntries = await getCollection('blog', ({ data }) => {
  return data.draft !== true
})
---

<ul>
  {
    blogEntries.map((entry) => (
      <li>
        <a href={`${import.meta.env.BASE_URL}/blog/${entry.slug}`}>
          {entry.data.title}
        </a>
        <time datetime={entry.data.publishedAt.toISOString()}>
          {entry.data.publishedAt.toDateString()}
        </time>
      </li>
    ))
  }
</ul>
